<div class="row content-row">
    <div class="col-lg-10 col-md-10 col-sm-10 offset-1">
        <div class="card dropdown-all w-100 ">
            <div class="card-body">
                <h4>Thank you!</h4>
                <p>Your registration was successful! Click <a [routerLink]="['']">here</a> to login</p>
                <!--<p>Confirm your registration by clicking on the link sent in our E-mail and completing your profile.</p>
                <p>If you don’t receive a confirmation E-mail within the next minutes, please also check your junk mail.</p>-->
            </div>
        </div>
    </div>
</div>    