<div class="row content-row">
    <div class="col col-lg-4 col-md-6 col-sm-12">
        <div class="card dropdown-all d-flex w-100 ">
            <div class="card-header card-header-customer md-default-dark">
                <h5 class="mdi mdi-phone-classic">Customer Phone</h5>
            </div>
            <div class="card-body login-card-body ">
                <form class="row">
                    <div class="col-12 col-sm pr-sm-0">
                        <input type="text" name="search" id="search" placeholder="Search...." class="form-control">
                    </div>
                    <div class="col-12 col-sm-auto pl-sm-0">
                        <button type="button" name="commit" value="Search" class="form-control btn-primary mdi mdi-filter-outline">Go</button>
                    </div>
                </form>
            </div>
            <div class="card-footer login-card-footer">
                <p class="footer-text">Customer has new query?</p>
                <button class="btn btn-secondary btn-sm">Record Query</button>
            </div>
        </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12 flex-grow">
        <div class="card login-card dropdown-all w-100 ">
            <div class="card-header card-header-customer md-primary">
                <h5 class="mdi mdi-arrange-send-to-back">Transactions</h5>
            </div>
            <div class="card-body login-card-body ">
                Card content goes here
            </div>
        </div>
    </div>
    <div class="col col-lg-4 col-md-6 col-sm-12 flex-grow">
        <div class="card login-card dropdown-all w-100 ">
            <div class="card-header card-header-customer md-secondary-dark">
                <h5 class="mdi mdi-comment-question">Queries</h5>
            </div>
            <div class="card-body login-card-body ">
                Card content goes here
            </div>
        </div>
    </div>
</div>