<div class="container-fluid main-container h-100 ">
    <app-header></app-header>
    <div class="row content-row">
        <div class="container content-container">
            <ngx-ui-loader></ngx-ui-loader>
            <router-outlet></router-outlet>
        </div>
    </div>
    <div class="row content-row navbar navbar-dark promotion-row" *ngIf="!authService.isAuthenticated()">
      <div class="col-lg-10 offset-1 promotion-text">
        <h2 class="promotion-agp">The solution that is <span class="plus">AGP</span></h2>
Simplify your golf course operations with powerful technology that is easy to learn and use.</div>
      </div>
    <app-footer></app-footer>
</div>
