<div class="row">
  <div class="col-lg-8 col-md-8 col-sm-12">
    <div class="card dropdown-all w-100 leaderboard-card">
        <div class="card-header leaderboard-header bg-dark">
            <h5 class='tournament-name'>{{ game.event }}</h5>
            <span class=tournament-content><strong>Date</strong> {{ game.start_date | date:'longDate' }} - {{ game.end_date | date:'longDate' }} </span><br>
            <span><strong>Players</strong> M <span class="badge badge-secondary badge-pill badge-sm">8</span> F <span class="badge badge-secondary badge-pill badge-sm">10</span></span>
        </div>
        <div class="card-body">

<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th scope='col' class="" colspan='2'>Round 1 - Leaderboard</th>
      <th scope='col' class="score-title" width="70">Total</th>
      <th scope='col' class="score-title" width="70">Par</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row" width="40">1</th>
      <td>Mark</td>
      <td class='score'>327</td>
      <td class='score'>39</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td class='score'>327</td>
      <td class='score'>38</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td class='score'>336</td>
      <td class='score'>37</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Kenneth</td>
      <td class='score'>327</td>
      <td class='score'>38</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td class='score'>336</td>
      <td class='score'>37</td>
    </tr>
  </tbody>
</table>

        </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-12">
      <app-previous-games (gameSelected)="selectGame($event)"></app-previous-games>
  </div>
</div>
