<div class="card login-card dropdown-all w-100 ">
    <div class="card-header card-header-customer">
        <h5 class="mdi mdi-book-plus"> {{ moduleTitle }}</h5>
    </div>
    <div class="card-body login-card-body ">
        <form [formGroup]="typeForm" (ngSubmit)="editType()">

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="type">type</label>
                        <input type="text" class="form-control" id="type" aria-describedby="emailHelp" placeholder="Enter type" required formControlName='type'>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!typeForm.valid">Save</button>
            <button type="submit" class="btn" [routerLink]="'/manage/types'">Cancel</button>
        </form>
    </div>
</div>
