<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="editHole" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="mdi mdi-file-plus"></i> {{ moduleTitle }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="courseTypeHoleForm" (ngSubmit)="editCourseTypeHole()">
            <div class="form-group">
              <label for="hole">Select Hole</label>
              <select class="form-control" name="" id="hole" formControlName="hole_pk_holeid">
                <option *ngFor="let hole of holes" value="{{ hole.pk_holeid }}">{{ hole.hole }}</option>
              </select>
            </div>

          <div class="form-group">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="distance">Distance</label>
                      <input type="text" class="form-control" id="distance" aria-describedby="emailHelp" placeholder="Enter Distance" required formControlName='distance'>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="si">Si</label>
                      <input type="text" class="form-control" id="si" aria-describedby="emailHelp" placeholder="Enter Si" required formControlName='si'>
                  </div>
              </div>
          </div>

          <div class="form-group">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="par">Par</label>
                      <input type="text" class="form-control" id="par" aria-describedby="emailHelp" placeholder="Enter par" required formControlName='par'>
                  </div>
              </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="!courseTypeHoleForm.valid">Save</button>

      </form>
      </div>
      <div class="modal-footer">
        <button type="button" #closeModal class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


