<div class="card dropdown-all d-flex w-100 ">
  <div class="card-header card-header-score md-dark">
    <h5 class="mdi mdi-format-list-bulleted"> Scores</h5>
  </div>
  <div class="card-body">
    <table  class="table table-sm table-bordered holes-table table-dark">
      <thead>
      <tr>
        <th>Hole</th>
        <th>Distance</th>
        <th>Par</th>
        <th>Si</th>
        <th>hits</th>
        <th>Controls</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let score of scores">
        <td>{{score.courseTypeHole.hole.hole}}</td>
        <td>{{score.courseTypeHole.distance}}</td>
        <td>{{score.courseTypeHole.par}}</td>
        <td>{{score.courseTypeHole.si}}</td>
        <td *ngIf="!score.edit">{{score.hits}} </td>
        <td *ngIf="score.edit">
          <form [formGroup]="updateForm" (ngSubmit)="updateScore()" >
          <div class="input-group">
            <input type="text" class="form-control form-control-sm" formControlName="hits" style="width: 5px">
            <div class="input-group-prepend">
              <button [disabled]="!updateForm.valid" class="btn btn-success btn-sm"> <i class="mdi mdi-marker-check"></i></button>
            </div>
          </div>
          </form>
        </td>
        <td>
          <div class="btn-toolbar">
            <button   class="btn btn-dark btn-xs btn-control"><i class="mdi mdi-eye"></i></button>
            <button  *ngIf="!score.edit" (click)="editScore(score)" class="btn btn-dark btn-xs btn-control"><i class="mdi mdi-pencil"></i></button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
