<div class="card login-card dropdown-all w-100 ">
    <div class="card-header card-header-customer">
        <h5 class="mdi mdi-book-plus"> {{ moduleTitle }}</h5>
    </div>
    <div class="card-body login-card-body ">
        <form [formGroup]="holeForm" (ngSubmit)="editHole()">

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="hole">Hole</label>
                        <input type="text" class="form-control" id="hole" aria-describedby="emailHelp" placeholder="Enter username" required formControlName='hole'>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!holeForm.valid">Save</button>
            <button type="submit" class="btn" [routerLink]="'/manage/holes'">Cancel</button>
        </form>
    </div>
</div>
