<div class="card-header card-header-customer md-secondary">
  <h5 class="mdi mdi-calendar"> Registration</h5>
</div>
<div class="card-body">
  <table class="">
    <tr *ngIf="tournament.registrationDate.length > 0"><strong>Period </strong><td></td> : {{ tournament.registrationDate[0].open_date | date:'mediumDate' }} -
      {{ tournament.registrationDate[0].close_date | date:'mediumDate' }}


      <button  (click)="editComponentCreated=true" class="btn btn-md mdi mdi-pencil-box" data-toggle="modal" data-target="#editRegistrationDate">Update</button>
    </tr>
    <tr *ngIf="tournament.registrationDate.length  == 0">
      Period<td></td > :
      <button  (click)="addComponentCreated=true" class="btn btn-md mdi mdi-file-plus" data-toggle="modal" data-target="#setRegistrationDate">Set</button>
    </tr>
  </table>
</div>

<app-add-registration-date *ngIf="addComponentCreated" [eventId]="tournament.pk_eventid" (registrationDateCreated)="editRegistrationDate($event)"></app-add-registration-date>
<app-edit-registration-date *ngIf="editComponentCreated" [registrationDateId]="tournament.registrationDate[0].pk_registration_dateid" (registrationDateEdited)="editRegistrationDate($event)"></app-edit-registration-date>
