<div class="card dropdown-all d-flex w-100 ">
  <div class="card-header card-header-customer md-dark">
      <h5 class="mdi mdi-trophy"> Tournament details</h5>
  </div>
  <div class="card-body">
    <table class="">
      <tr><strong>Title </strong><td></td> : {{ tournament.event }}<td></tr>
      <tr><strong>Duration </strong><td></td> : {{ tournament.start_date | date:'mediumDate' }} -
                                                     {{  tournament.end_date | date:'mediumDate'
                                                     }}<td></tr>
      <tr><strong>Format </strong><td></td> : Medal<td></tr>
      <tr><strong>Draw Type </strong><td></td> : {{ tournament.fk_draw_typeid }}<button (click)="editComponentCreated=true" class="btn btn-md mdi mdi-pencil-box" data-toggle="modal" data-target="#editRating"></button><td></tr>
      <tr><strong>Field </strong><td></td> :
          {{ field.field_type }}
        <button class="btn btn-md mdi mdi-pencil-box" data-toggle="modal" data-target="#addField"></button><td></tr>
    </table>
  </div>
</div>

<app-add-field (fieldCreatedEvent)="updateField($event)" [tournamentId]="tournament.pk_eventid"></app-add-field>
