<div class="card login-card dropdown-all w-100 ">
    <div class="card-header card-header-customer md-secondary-dark">
        <h5 class="mdi mdi-file-table"> Users</h5>
    </div>
    <div class="card-body login-card-body ">
        <h6><a [routerLink]="['/manage/add-user']" class="btn btn-outline-secondary btn-sm mdi mdi-plus ">Add User</a></h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Firstname</th>
                    <th>Lastname</th>
                    <th>Email</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>john@example.com</td>
                </tr>
                <tr>
                    <td>Mary</td>
                    <td>Moe</td>
                    <td>mary@example.com</td>
                </tr>
                <tr>
                    <td>July</td>
                    <td>Dooley</td>
                    <td>july@example.com</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
