<div class="card login-card dropdown-all w-100 ">
    <div class="card-header card-header-customer md-secondary-dark">
        <h5 class="mdi mdi-file-table"> Users</h5>
    </div>
    <div class="card-body login-card-body ">
      <h6><a [routerLink]="['/manage/add-user']" class="btn btn-outline-secondary btn-sm mdi mdi-plus ">Add User</a></h6>
      <table datatable class="table table-striped">
          <thead>
              <tr>
                  <th>Username</th>
                  <th>Firstname</th>
                  <th>Lastname</th>
                  <th>Email</th>
                  <th width="120px">Controls</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let profile of profiles">
                  <td>{{ profile.user.username }}</td>
                  <td>{{ profile.user.first_name }}</td>
                  <td>{{ profile.user.last_name }}</td>
                  <td>{{ profile.user.email }}</td>
                  <td>
                    <div class="btn-toolbar">
                      <button (click)="viewUser(profile.pk_profileid)" class="btn btn-dark btn-sm btn-control"><i class="mdi mdi-eye"></i></button>
                      <button (click)="editUser(profile.pk_profileid)" class="btn btn-success btn-sm btn-control"><i class="mdi mdi-pencil"></i></button>
                      <button (click)="deleteUser(profile.pk_profileid)" class="btn btn-danger btn-sm btn-control"><i class="mdi mdi-delete"></i></button>
                      </div>
                    </td>
              </tr>
          </tbody>
      </table>
    </div>
</div>
