<div class="card login-card dropdown-all w-100 ">
    <div class="card-header card-header-customer">
        <h5 class="mdi mdi-book-plus"> {{ moduleTitle }}</h5>
    </div>
    <div class="card-body login-card-body ">
        <form [formGroup]="countryForm" (ngSubmit)="addCountry()">

            <div class="form-group">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="country">Country</label>
                        <input type="text" class="form-control" id="country"  placeholder="enter country" required formControlName='country'>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12">
                        <label for="country">Code</label>
                        <input type="text" class="form-control" id="code"  placeholder="enter code" required formControlName='code'>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!countryForm.valid">Save</button>
            <button type="submit" class="btn" [routerLink]="'/manage/countries'">Cancel</button>
        </form>
    </div>
</div>
