<div class="row content-row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <app-tournament-detail [tournament]="tournament"></app-tournament-detail>
        <br>

        <div class="card dropdown-all d-flex w-100 ">
          <div class="card-header card-header-customer md-secondary">
              <h5 class="mdi mdi-calendar"> Registration</h5>
          </div>
          <div class="card-body">
            <table class="">
              <tr><strong>Period </strong><td></td> : 28.12.19 - 29.12.19 <button (click)="editComponentCreated=true" class="btn btn-md mdi mdi-pencil-box" data-toggle="modal" data-target="#editRating"></button><td></tr>
              <tr><strong>Registered </strong><td></td> : M <span class='badge badge-primary'>8</span> F <span class='badge badge-primary'>6</span><td></tr>
            </table>
          </div>
        </div>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
      <app-registration-slots [slots]="slots"></app-registration-slots>
    </div>
</div>

