<div class="row content-row">
  <div class="col-lg-4 col-md-6 col-sm-12">
    <app-tournament-detail *ngIf="tournament.pk_eventid" (updatedSlots)="UpdateSlots($event)"  [tournament]="tournament"></app-tournament-detail>
    <br>

    <div class="card dropdown-all d-flex w-100 ">
      <app-tournament-registration-detail *ngIf="tournament.pk_eventid" [tournament]="tournament"></app-tournament-registration-detail>
     </div>
  </div>
  <div class="col-lg-8 col-md-8 col-sm-12">
    <app-registration-slots [slots]="slots"></app-registration-slots>
  </div>
</div>
