
<!-- Modal -->
<div class="modal fade" id="userRolePermissions" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">{{moduleTitle}}</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
          </div>
      <div class="modal-body">
        <div class="container-fluid">
          <table class="table table-striped table-bordered" *ngIf="permissions.length !== 0">
            <thead>
              <tr>
                <td>Code</td>
                <td>Permission</td>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let permission of permissions">
                <td>{{permission.code}}</td>
                <td>{{permission.permission}}</td>
              </tr>
            </tbody>
          </table>
          <div class="row" *ngIf="permissions.length==0">
            <div class="col-md-12">
              <div class="alert alert-warning" role="alert">
                <small class="mdi mdi-information-outline"> Data not available</small>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button #closeModal type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

