<div class="card login-card dropdown-all w-100 ">
    <div class="card-header card-header-customer md-secondary-dark">
        <h5 class="mdi mdi-apps"> {{moduleTitle}}</h5>
    </div>
    <div class="card-body login-card-body ">

      <div class="row manage-icons">
        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-account-group mdi-24px "></i><br>
                  Roles
              </button>
          </a>
        </div>

        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-security mdi-24px "></i><br>
                  Permissions
              </button>
          </a>
        </div>

        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-gender-male-female mdi-24px "></i><br>
                  Gender
              </button>
          </a>
        </div>

        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-human-male-female mdi-24px "></i><br>
                  Users
              </button>
          </a>
        </div>

        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-golf mdi-24px "></i><br>
                  Holes
              </button>
          </a>
        </div>
      </div>
      <hr>

      <div class="row manage-icons">
        <div class="col-sm">
          <a href="#">
              <button class="btn">
                  <i class="mdi mdi-earth mdi-24px "></i><br>
                  Countries
              </button>
          </a>
        </div>
        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-checkbox-intermediate mdi-24px "></i><br>
                  Course Types
              </button>
          </a>
        </div>

        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-checkbox-blank mdi-24px "></i><br>
                  Courses
              </button>
          </a>
        </div>

        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-home-account mdi-24px "></i><br>
                  Clubs
              </button>
          </a>
        </div>
        <div class="col-sm">
          <a href="#">
              <button class="btn ">
                  <i class="mdi mdi-checkbox-blank mdi-24px "></i><br>
                  Draw Types
              </button>
          </a>
        </div>
      </div>
    </div>
</div>



