<div class="card-header card-header-customer md-primary">
    <h5 class="mdi mdi-link-box-variant">Quick Access</h5>
</div>
<div class="card-body">

    <ul class="list-group list-group-flush">
        <a [routerLink]="['/manage/roles']" class="list-group-item">Roles</a>
        <a [routerLink]="['/manage/permissions']" class="list-group-item">Permissions</a>
        <a [routerLink]="['/manage/genders']" class="list-group-item">Gender</a>
        <a [routerLink]="['/manage/users']" class="list-group-item">Users</a>
        <a href="#" class="list-group-item">Products</a>
        <a href="#" class="list-group-item">System Test</a>
    </ul>

</div>
<div class="card-footer login-card-footer">
    <p class="footer-text footer-title"><span>Management Functions</span></p>
</div>
