<!-- Button trigger modal -->
<!-- Modal -->
<div class="modal fade" id="editRating" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><i class="mdi mdi-file-plus"></i> {{ moduleTitle }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
      </div>
      <div class="modal-body">
          <form [formGroup]="ratingForm" (ngSubmit)="editRating()">

          <div class="form-group">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="cRate">Course Rate</label>
                      <input type="text" class="form-control" id="cRate" aria-describedby="emailHelp" placeholder="Enter Course Rate" required formControlName='course_rating'>
                  </div>
              </div>
          </div>
          <div class="form-group">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="sRate">Sloopy Rate</label>
                      <input type="text" class="form-control" id="sRate" aria-describedby="emailHelp" placeholder="Enter Sloppy Rate" required formControlName='sloppy_rating'>
                  </div>
              </div>
          </div>

          <div class="form-group">
              <div class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12">
                      <label for="par">Par</label>
                      <input type="text" class="form-control" id="par" aria-describedby="emailHelp" placeholder="Enter par" required formControlName='par'>
                  </div>
              </div>
          </div>

          <button type="submit" class="btn btn-primary btn-block btn-lg" [disabled]="!ratingForm.valid">Save</button>

      </form>
      </div>
      <div class="modal-footer">
        <button type="button" #closeModal class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


