<div class="card login-card dropdown-all w-100 ">
    <div class="card-header card-header-customer">
        <h5 class="mdi mdi-book-plus"> {{moduleTitle}}</h5>
    </div>
    <div class="card-body login-card-body ">
        <form [formGroup]="eventTypeForm" (ngSubmit)="editEventType()">
           <div class="form-group">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <label for="Event TYpe">Event Type</label>
                        <input type="text" class="form-control" id="Event type" placeholder="Enter event type" required formControlName='event_type'>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [disabled]="!eventTypeForm.valid">Save</button>
            <button type="submit" class="btn" [routerLink]="'/manage/event-types'">Cancel</button>
        </form>
    </div>
</div>
