<div class="row content-row">
    <div class="col-lg-9 col-md-9 col-sm-12">
<div class="card login-card dropdown-all w-100 ">
    <div class="card-header card-header-customer md-success">
        <h5 class="mdi mdi-file-table"> Tournaments</h5>
    </div>
    <div class="card-body login-card-body ">
        <h6><a [routerLink]="['/manage/add-user']" class="btn btn-outline-secondary btn-sm mdi mdi-plus ">Add User</a></h6>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Tournament</th>
                    <th>Date</th>
                    <th>Registration Period</th>
                    <th>Status</th>
                    <th>Controls</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>National Bank Trophy</td>
                    <td>20 Dec 2019 - 21 Dec 2019</td>
                    <td>20 Dec 2019 - 21 Dec 2019</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>
                <tr>
                    <td>National Bank Trophy</td>
                    <td>20 Dec 2019 - 21 Dec 2019</td>
                    <td>20 Dec 2019 - 21 Dec 2019</td>
                    <td>Closed</td>
                    <td>Closed</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</div>
  <div class="col-lg-3 col-md-3 col-sm-12">
    <div class="card login-card dropdown-all w-100 ">
      <div class="card-header card-header-customer md-secondary-dark">
          <h5 class="mdi mdi-file-table"> Tournaments</h5>
      </div>
      <div class="card-body login-card-body ">
    </div>
  </div>
</div>
