<div class="card dropdown-all d-flex w-100 ">
  <div class="card-body">
    <h5 class="">
      <div class="form-group" *ngIf="selectedModel">
        <select class="form-control" id="sel1" [(ngModel)]="selectedModel" (change)="fetchScores(selectedModel)">
          <option *ngFor="let event of events" [ngValue]="event"> {{event.event}}</option>
        </select>
      </div></h5>
    <table class="table table-primary table-striped table-bordered table-sm personal-leaderboard-table ">
      <thead>
      <tr class='personal-leaderboard-head' >
        <th colspan='9'>{{selectedModel.event}}</th>s
      </tr>
      </thead>
      <tbody>
      <tr >
        <th>1</th><th>2</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th>
      </tr>
      <tr class='personal-leaderboard-score'>
        <td>4</td><td>3</td><td>5</td><td>6</td><td>4</td><td>2</td><td>4</td><td>5</td><td>3</td>
      </tr>
      <tr >
        <th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15</th><th>16</th><th>17</th><th>18</th>
      </tr>
      <tr class='personal-leaderboard-score'>
        <td>4</td><td>3</td><td>5</td><td>6</td><td>4</td><td>2</td><td>4</td><td>5</td><td>3</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
