<div class="row" style="padding:10px">
  <div class="col-lg-5">
      <div class="card dropdown-all d-flex w-100 ">
        <div class="card-header card-header-customer md-secondary">
            <h5 class="mdi mdi-account-card-details"> User Profile </h5>
        </div>
        <div class='col-10 offset-1' style='margin-top:10px'><img src="assets/images/profile.jpg" class="card-img-top card-img-center img-fluid img-thumbnail" max-width="100" alt=".."></div>
        <div class="card-body text-center">
          <h5 class="card-title mdi mdi-account"> {{profile.user.username}}</h5>
          <p class="card-text">
            <span class="mdi mdi-face-profile"> {{profile.user.first_name+' '+profile.user.last_name}}</span><br>
            <span class="mdi mdi-gender-male-female"> {{profile.fk_genderid.gender}}</span><br>
            <span class="mdi mdi-email"> <a href="mailto:{{profile.user.email}}"> {{profile.user.email}}</a></span><br>
            <span class="mdi mdi-phone-classic"> {{profile.phone}} </span><br>
          </p>
          <button href="#" class="btn btn-sm btn-primary mdi mdi-pencil">Update</button>
        </div>
      </div>
  </div>
  <div class="col-lg-7">
      <div class="card dropdown-all d-flex w-100 ">
        <div class="card-header card-header-customer md-default-dark">
            <h5 class="mdi mdi-account-group"> User Roles</h5>
        </div>
        <div class="card-body">
          <h6><a class="btn btn-outline-secondary btn-sm mdi mdi-plus" (click)='AddComponentCreated=true' data-toggle="modal" data-target="#assignRoles">Assign Role</a></h6>
          <table class="table table-striped table-bordered table-sm">
            <thead>
              <tr>
                <th scope="col">Role</th>
                <th scope="col"># Permissions</th>
                <th scope="col">Control</th>
              </tr>
            </thead>
            <tbody>
              <tr  *ngFor="let profileRole of profileRoles">
                <td>{{profileRole.fk_roleid.role}}</td>
                <td>{{ profileRole.fk_roleid.Permissions.length}}</td>
                <td>
                    <button class="btn btn-dark btn-sm btn-control" (click)="viewPermission(profileRole.fk_roleid.Permissions)" data-toggle="modal" data-target="#userRolePermissions"><i class="mdi mdi-eye"></i></button>
                    <button class="btn btn-danger btn-sm btn-control" (click)="deleteProfileRole(profileRole.pk_profile_roleid)"><i class="mdi mdi-delete"></i></button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
  </div>
</div>
<app-add-user-role *ngIf="AddComponentCreated"  (userRoleCreated)="addUserRole($event)" [userRoles]='profileRoles'></app-add-user-role>
<app-user-role-permissions *ngIf="viewPermissionComponentCreated"  [permissions]='permissions'></app-user-role-permissions>
