<div class="row content-row">
    <div class="col-lg-4 col-md-6 col-sm-12">
        <div class="card dropdown-all d-flex w-100 course-card">
          <div class="card-body">
            <table>
              <tr><strong>Course </strong><td></td> : {{ course.course }}<td></tr>
              <tr><strong>Country </strong><td></td> : {{ course.country.country }}<td></tr>
            </table>
          </div>
        </div>
        <br>
        <app-rating></app-rating>
    </div>
    <div class="col-lg-8 col-md-8 col-sm-12">
        <div class="card dropdown-all d-flex w-100">
          <div class="card-header card-header-customer md-success">
              <h5 class="mdi mdi-file-table"> Courses</h5>
          </div>
          <div class="card-body">
            <app-course-types  [courseTypes]="courseTypes" [courseId]="courseId"></app-course-types>

            <div class="tab-content" id="pills-tabContent">
            <div class="tab-pane tab-pill tab-pill-red fade show active" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">

          <div class="row" *ngIf="!isEmpty(courseTypes)">
            <div class="col-lg-4 col-md-4 col-sm-12 card-course">
              <app-course-type [courseType]="courseType"></app-course-type>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12">

                <app-course-type-holes [courseTypeId]="courseType.pk_course_typeid" [courseType]="courseType"></app-course-type-holes>
            </div>
          </div>

          <div class="row" *ngIf="isEmpty(courseTypes)">
            <div class="col-md-12">
              <div class="alert alert-danger" role="alert">
                <small> Data Not Available</small>
              </div>
            </div>
          </div>
            </div>
            <div class="tab-pane tab-pill tab-pill-green fade" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">Green</div>
            <div class="tab-pane tab-pill tab-pill-blue fade" id="pills-contact" role="tabpanel" aria-labelledby="pills-contact-tab">...</div>
          </div>
          </div>
        </div>
    </div>
</div>
